* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

html {
  height: 100vh;
  width: 100vw;
}
html body {
  height: 100vh;
  width: 100vw;
  transition: all 0.3s ease-in-out;
}
html body .d-container-form {
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .d-container-form .d-form .d-head {
  display: flex;
  align-items: center;
  justify-content: center;
}
html body .d-container-form .d-form form {
  padding: 2em;
  margin-top: 1em;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 10px #dadada;
}
html body .d-container-form .d-form form h3 {
  font-weight: 600;
}
html body .d-container-form .d-form form .d-form-input {
  margin-top: 0.8em;
}
html body .d-container-form .d-form form .d-form-input .d-input {
  height: 3.3em;
  border-radius: 3px;
  border: 1px solid #797979;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  padding-right: 0.8em;
  padding-left: 0.8em;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
html body .d-container-form .d-form form .d-form-input .d-input .d-inp {
  height: 100%;
  width: 90%;
  margin-left: 0.5em;
}
html body .d-container-form .d-form form .d-form-input .d-input .d-inp input {
  border: none;
  outline: none;
  display: block;
  height: 100%;
  width: 100%;
}
html body .d-container-form .d-form form .d-form-input .d-input .d-svg svg {
  height: 100%;
  display: block;
}
html body .d-container-form .d-form form .d-form-input .d-input .d-svg svg path {
  transition: all 0.3s ease-in-out;
  stroke: black;
}
html body .d-container-form .d-form form .d-form-input .d-input:nth-child(2) .d-svg svg path {
  stroke: white;
  fill: black;
}
html body .d-container-form .d-form form .d-form-input .d-input:hover {
  border-color: #09709E;
}
html body .d-container-form .d-form form .d-form-input .d-input:hover .d-svg svg {
  height: 100%;
  display: block;
}
html body .d-container-form .d-form form .d-form-input .d-input:hover .d-svg svg path {
  stroke: #09709E;
}
html body .d-container-form .d-form form .d-form-input .d-input:hover:nth-child(2) .d-svg svg path {
  stroke: white;
  fill: #09709E;
}
html body .d-container-form .d-form form input[type=submit] {
  background-color: #09709E;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 1em;
  height: 3.5em;
  border-radius: 3px;
  border: none;
}
html body .d-container {
  height: 100vh;
  width: 100wv;
  background-color: #035E87;
  padding: 0.5em;
}
html body .d-container .d-container-body {
  border-radius: 5px;
  height: 100%;
  background-color: white;
  padding: 0.6em;
}
html body .d-container .d-container-body .d-cont-head .d-title {
  display: flex;
  align-items: center;
}
html body .d-container .d-container-body .d-cont-head .d-title svg {
  height: 1.5em;
}
html body .d-container .d-container-body .d-cont-head .d-title svg path {
  stroke: #09709E;
}
html body .d-container .d-container-body .d-cont-head .d-title h3 {
  color: #09709E;
  font-weight: 500;
  font-size: 21px;
}
html body .d-container .d-container-body .d-cont-body {
  display: flex;
  justify-content: space-between;
  padding: 0.8em;
  margin-top: 2em;
  height: 90.6%;
}
html body .d-container .d-container-body .d-cont-body .list-dept {
  width: 63%;
  height: 100%;
}
html body .d-container .d-container-body .d-cont-body .list-dept .d-title-cont {
  margin-top: 1em;
}
html body .d-container .d-container-body .d-cont-body .list-dept .d-title-cont h3 {
  font-weight: 520;
  font-size: 20px;
}
html body .d-container .d-container-body .d-cont-body .list-dept .d-list-dept {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  margin-top: 1em;
}
html body .d-container .d-container-body .d-cont-body .list-dept .d-list-dept .d-dept {
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  padding: 0.6em;
  box-shadow: 0px 0px 1px #cecece;
  border-left: 10px solid #09709E;
  background-color: #F5F5F5;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
html body .d-container .d-container-body .d-cont-body .list-dept .d-list-dept .d-dept h3 {
  font-weight: 500;
  font-size: 15px;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}
html body .d-container .d-container-body .d-cont-body .list-dept .d-list-dept .d-dept:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 100%;
  background-color: #09709E;
  left: 0;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
html body .d-container .d-container-body .d-cont-body .list-dept .d-list-dept .d-dept:hover:after {
  width: 100%;
}
html body .d-container .d-container-body .d-cont-body .list-dept .d-list-dept .d-dept:hover h3 {
  color: white;
}
html body .d-container .d-container-body .d-cont-body .list-alea {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  width: 35%;
  padding: 1em;
  height: 97.4%;
  background-color: #F5F5F5;
  border-end-end-radius: 3px;
  border-top-right-radius: 3px;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-title-cont {
  margin-top: 2em;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-title-cont h3 {
  font-size: 25px;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option {
  margin-top: 2em;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-option-dpt {
  display: flex;
  gap: 0.8em;
  align-items: center;
  height: 2em;
  margin-bottom: 1em;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-option-dpt .d-opt {
  cursor: pointer;
  height: 100%;
  padding: 0.8em;
  background-color: white;
  border-radius: 3px;
  width: 10em;
  display: flex;
  align-items: center;
  gap: 0.8em;
  transition: all 0.3s ease-in-out;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-option-dpt .d-opt span {
  font-size: 11px;
  font-weight: 500;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-option-dpt .d-opt:hover {
  background-color: #8cc2de;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-list-agent {
  height: 26em;
  overflow-y: scroll;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-list-agent .d-agent {
  width: 90%;
  position: relative;
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px #f6f6f6;
  padding: 0.6em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 0.8em;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-list-agent .d-agent .d-round {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: black;
  margin-right: 1em;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-list-agent .d-agent .agent-info h3 {
  font-weight: 500;
  font-size: 17px;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-list-agent .d-agent .agent-info .d-span {
  display: flex;
  gap: 0.8em;
  align-items: center;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-list-agent .d-agent .agent-info .d-span p {
  height: 1.8em;
  padding: 0.3em;
  text-align: center;
  font-size: 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffbaba;
  border-radius: 5px;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-list-agent .d-agent .agent-info .d-span p span {
  margin-top: 0.2em;
  display: block;
  font-weight: 600;
  text-align: center;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-list-agent .d-agent .d-menu {
  display: none;
  z-index: -1;
  position: absolute;
  padding: 0.8em;
  background-color: white;
  top: 110%;
  width: 100%;
  left: 0;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-list-agent .d-agent .d-menu .d-option {
  padding: 0.1em;
  margin-bottom: 0.2em;
  padding-left: 0.5em;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-list-agent .d-agent .d-menu .d-option span {
  font-size: 15px;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-list-agent .d-agent .d-menu .d-option:hover {
  background-color: #e0e0e0;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-list-agent .d-agent .d-menu-visible {
  z-index: 12;
  display: block;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-ecran {
  overflow-y: hidden;
  scrollbar-width: thin;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-ecran .d-info-agent {
  height: 100%;
  padding: 0.8em;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-ecran .d-info-agent .d-nom {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #f1f1f1;
  margin-bottom: 1em;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-ecran .d-info-agent .d-nom .d-round {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color: #002a2f;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-ecran .d-info-agent .d-nom .d-id {
  margin-left: 1em;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-ecran .d-info-agent .d-nom .d-id h3 {
  font-size: 25px;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-ecran .d-info-agent .d-nom .d-id span {
  font-size: 11px;
  background-color: #09709E;
  border-radius: 5px;
  font-weight: 500;
  display: block;
  text-align: center;
  width: 6em;
  color: white;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-ecran .d-info-agent .d-list-option {
  overflow-y: hidden;
  height: 12em;
  position: relative;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-ecran .d-info-agent .d-list-option .d-scroll {
  transition: all 0.5s ease-in-out;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-ecran .d-info-agent .d-list-option .d-scroll .d-another-info {
  border-radius: 3px;
  height: 12em;
  width: 100%;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-ecran .d-info-agent .d-list-option .d-scroll .d-another-info p {
  box-shadow: 0px 0px 5px #eaeaea;
  padding: 0.4em;
  border-radius: 3px;
  background-color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
  width: 100%;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-ecran .d-info-agent .d-list-option .d-scroll .d-another-info p span {
  padding: 0.3em;
  display: block;
  background-color: #8abcd3;
  color: #002a2f;
  font-size: 14px;
  margin-left: 0.8em;
  border-radius: 3px;
  font-weight: 500;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-ecran .d-info-agent .d-list-option .d-scroll .d-another-info p .oui {
  background-color: #96ffcb;
  color: #005d40;
  width: 3em;
  text-align: center;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-ecran .d-info-agent .d-list-option .d-scroll .d-another-info p .non {
  width: 3em;
  text-align: center;
  background-color: #fd9b9b;
  color: #3d0101;
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-ecran .d-info-agent .d-list-option .x1 {
  transform: translateY(-12em);
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-ecran .d-info-agent .d-list-option .x2 {
  transform: translateY(-24em);
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-ecran .d-info-agent .d-list-option .x3 {
  transform: translateY(-36em);
}
html body .d-container .d-container-body .d-cont-body .list-alea .d-list-agent-option .d-ecran .d-info-agent .d-list-option .x4 {
  transform: translateY(-48em);
}
html body .d-container .d-shift-cont {
  position: fixed;
  top: 30%;
  right: -21em;
  z-index: 4;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
}
html body .d-container .d-shift-cont .close {
  padding: 0.5em;
  background-color: #ff4d4d;
  margin-right: 0.8em;
  cursor: pointer;
  border-radius: 50%;
}
html body .d-container .d-shift-cont .d-shift-body {
  padding: 0.5em;
  background-color: rgba(180, 180, 180, 0.36);
  backdrop-filter: blur(20px);
  margin-top: 0.2em;
  display: flex;
}
html body .d-container .d-shift-cont .d-shift-body h3 {
  font-weight: normal;
  font-size: 15px;
  margin-left: 0.8em;
  display: flex;
  align-items: center;
}
html body .d-container .d-shift-cont .d-shift-body h3 span {
  text-align: center;
  font-weight: 600;
  padding: 0.2em;
  border-radius: 5px;
  color: #570000;
  background-color: #ff7878;
  display: block;
  width: 3em;
}
html body .d-container .d-shift-cont .d-shift-body h3 .oui {
  background-color: #acccff;
  color: #002a2f;
}
html body .d-container .d-shift-cont-visible {
  right: 1%;
}
html body .d-container .d-agent-add {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  visibility: hidden;
  background-color: white;
  padding: 0.8em;
  top: 45%;
  transition: all 0.3s ease-in-out;
}
html body .d-container .d-agent-add .d-agent-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body .d-container .d-agent-add .d-agent-head .close {
  padding: 0.5em;
  background-color: #ff5858;
  border-radius: 50%;
  cursor: pointer;
}
html body .d-container .d-agent-add .d-agent-body {
  margin-top: 1em;
}
html body .d-container .d-agent-add .d-agent-body input, html body .d-container .d-agent-add .d-agent-body select {
  padding: 0.5em;
  width: 100%;
  margin-top: 0.9em;
  border-radius: 3px;
  border: 1px solid #7e7e7e;
  transition: all 0.3s ease-in-out;
  outline: none;
}
html body .d-container .d-agent-add .d-agent-body input:hover, html body .d-container .d-agent-add .d-agent-body select:hover {
  border-color: #035E87;
}
html body .d-container .d-agent-add .d-agent-body input[type=submit] {
  border: none;
  background-color: #035E87;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
html body .d-container .d-modal-rapport {
  width: 70%;
  position: absolute;
  top: 45%;
  visibility: hidden;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.8em;
  background-color: #ffffff;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
html body .d-container .d-modal-rapport .d-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body .d-container .d-modal-rapport .d-head .close {
  cursor: pointer;
  padding: 0.5em;
  background-color: #ff5656;
  border-radius: 50%;
}
html body .d-container .d-modal-rapport .d-month {
  margin-top: 0.8em;
}
html body .d-container .d-modal-rapport .d-month select {
  padding: 0.5em;
  background-color: #e7e7e7;
  outline: none;
}
html body .d-container .d-modal-rapport .d-body .d-head-table {
  display: grid;
  padding: 0.5em;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  margin-top: 0.8em;
  gap: 1em;
}
html body .d-container .d-modal-rapport .d-body .d-head-table .th span {
  font-weight: 600;
}
html body .d-container .d-modal-rapport .d-body .d-body-table {
  display: grid;
  padding: 0.5em;
  background-color: #ececec;
  border-radius: 3px;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  margin-bottom: 0.5em;
}
html body .d-container .d-modal-rapport-agent {
  width: 70%;
  position: absolute;
  top: 45%;
  visibility: hidden;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.8em;
  background-color: #ffffff;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
html body .d-container .d-modal-rapport-agent .d-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body .d-container .d-modal-rapport-agent .d-head .close {
  cursor: pointer;
  padding: 0.5em;
  background-color: #ff5656;
  border-radius: 50%;
}
html body .d-container .d-modal-rapport-agent .d-month {
  margin-top: 0.8em;
}
html body .d-container .d-modal-rapport-agent .d-month select {
  padding: 0.5em;
  background-color: #e7e7e7;
  outline: none;
}
html body .d-container .d-modal-rapport-agent .d-body .d-head-table {
  display: grid;
  padding: 0.5em;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  margin-top: 0.8em;
  gap: 1em;
}
html body .d-container .d-modal-rapport-agent .d-body .d-head-table .th span {
  font-weight: 600;
}
html body .d-container .d-modal-rapport-agent .d-body .d-body-table {
  display: grid;
  padding: 0.5em;
  background-color: #ececec;
  border-radius: 3px;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  margin-bottom: 0.5em;
}
html body .d-container .d-modal-agent-salaire {
  width: 40%;
  position: absolute;
  top: 45%;
  visibility: hidden;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.8em;
  background-color: #ffffff;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
html body .d-container .d-modal-agent-salaire .d-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body .d-container .d-modal-agent-salaire .d-head .close {
  cursor: pointer;
  padding: 0.5em;
  background-color: #ff5656;
  border-radius: 50%;
}
html body .d-container .d-modal-agent-salaire .d-month {
  margin-top: 0.8em;
}
html body .d-container .d-modal-agent-salaire .d-month select {
  padding: 0.5em;
  background-color: #e7e7e7;
  outline: none;
}
html body .d-container .d-modal-agent-salaire .d-body .d-head-table {
  display: grid;
  padding: 0.5em;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  margin-top: 0.8em;
  gap: 1em;
}
html body .d-container .d-modal-agent-salaire .d-body .d-head-table .th span {
  font-weight: 600;
}
html body .d-container .d-modal-agent-salaire .d-body .d-body-table {
  display: grid;
  padding: 0.5em;
  background-color: #ececec;
  border-radius: 3px;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  margin-bottom: 0.5em;
}
html body .d-container .d-modal-info-dpt {
  width: 40%;
  position: absolute;
  top: 45%;
  visibility: hidden;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.8em;
  background-color: #ffffff;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
html body .d-container .d-modal-info-dpt .d-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body .d-container .d-modal-info-dpt .d-head .close {
  cursor: pointer;
  padding: 0.5em;
  background-color: #ff5656;
  border-radius: 50%;
}
html body .d-container .d-modal-info-dpt .d-info {
  margin-top: 1em;
}
html body .d-container .d-modal-info-dpt .d-info p {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.1em;
}
html body .d-container .d-modal-info-dpt .d-info p span:nth-child(2) {
  display: block;
  width: 3em;
  text-align: center;
  font-weight: 500;
  padding: 0.1em;
  background-color: #c2f5e5;
  border-radius: 3px;
  color: #002a2f;
}
html body .d-container .d-modal-info-dpt .d-info p:nth-child(2) span:nth-child(2) {
  display: block;
  width: 3em;
  text-align: center;
  font-weight: 500;
  padding: 0.1em;
  background-color: #c2e3f5;
  border-radius: 3px;
  color: #00212f;
}
html body .d-container .d-modal-info-dpt .d-info p:nth-child(3) span:nth-child(2) {
  display: block;
  width: 3em;
  text-align: center;
  font-weight: 500;
  padding: 0.1em;
  background-color: #f5c2cb;
  border-radius: 3px;
  color: #2f0009;
}
html body.d-modal-agent:after {
  content: "";
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.82);
  position: absolute;
  top: 0;
}
html body.d-modal-agent .d-container .d-agent-add {
  visibility: visible;
  z-index: 3;
  top: 50%;
}
html body.d-modal-agent .d-container .d-menu {
  display: none !important;
}
html body.d-modal-rapport-visible:after {
  content: "";
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.82);
  position: absolute;
  top: 0;
}
html body.d-modal-rapport-visible .d-container .d-menu {
  display: none !important;
}
html body.d-modal-rapport-visible .d-modal-rapport {
  top: 50%;
  visibility: visible;
  z-index: 3;
  transition: all 0.3s ease-in-out;
}
html body.d-modal-rapport-agent-visible:after {
  content: "";
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.82);
  position: absolute;
  top: 0;
}
html body.d-modal-rapport-agent-visible .d-container .d-menu {
  display: none !important;
}
html body.d-modal-rapport-agent-visible .d-modal-rapport-agent {
  top: 50%;
  visibility: visible;
  z-index: 3;
  transition: all 0.3s ease-in-out;
}
html body.d-modal-agent-salaire-visible:after {
  content: "";
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.82);
  position: absolute;
  top: 0;
}
html body.d-modal-agent-salaire-visible .d-container .d-menu {
  display: none !important;
}
html body.d-modal-agent-salaire-visible .d-modal-agent-salaire {
  top: 50%;
  visibility: visible;
  z-index: 3;
  transition: all 0.3s ease-in-out;
}
html body.d-modal-info-dpt-visible:after {
  content: "";
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.82);
  position: absolute;
  top: 0;
}
html body.d-modal-info-dpt-visible .d-container .d-menu {
  display: none !important;
}
html body.d-modal-info-dpt-visible .d-modal-info-dpt {
  top: 50%;
  visibility: visible;
  z-index: 3;
  transition: all 0.3s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
