*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
html {
  height: 100vh;
  width: 100vw;

  body{
    height: 100vh;
    width: 100vw;
    transition: all 0.3s ease-in-out;
    .d-container-form{
      height: 100vh;
      width: 100vw;
      background-color: #f5f5f5;
      display: flex;
      justify-content: center;
      align-items: center;
      .d-form{
        .d-head{
          display: flex;
          align-items: center;justify-content: center;
        }
        form{
          h3{
            font-weight: 600;
          }
          padding: 2em;
          margin-top: 1em;
          background-color: white;
          border-radius: 3px;
          box-shadow: 0px 0px 10px #dadada;
          .d-form-input{
            margin-top: 0.8em;
            .d-input{
              height: 3.3em;
              border-radius: 3px;
              border: 1px solid #797979;
              display: flex;
              align-items: center;
              margin-bottom: 1em;
              padding-right: 0.8em;
              padding-left: 0.8em;
              background-color: white;
              transition: all 0.3s ease-in-out;
              .d-inp{
                height: 100%;
                width: 90%;
                margin-left: 0.5em;
                input{
                  border: none;
                  outline: none;
                  display: block;
                  height: 100%;
                  width: 100%;
                }
              }
              .d-svg{
                svg{
                  height: 100%;
                  display: block;
                  path{
                    transition: all 0.3s ease-in-out;
                    stroke: black;
                  }
                }
              }
              &:nth-child(2){
                .d-svg{
                  svg{
                    path{
                      stroke: white;
                      fill: black;
                    }
                  }
                }
              }
              &:hover{
                border-color: #09709E;
                .d-svg{
                  svg{
                    height: 100%;
                    display: block;
                    path{
                      stroke: #09709E;
                    }
                  }
                }
                &:nth-child(2){
                  .d-svg{
                    svg{
                      path{
                        stroke: white;
                        fill: #09709E;
                      }
                    }
                  }
                }
              }
            }
          }
          input[type="submit"]{
            background-color: #09709E;
            color: white;
            font-weight: bold;
            font-size: 15px;
            cursor: pointer;
            display: block;
            width: 100%;
            padding: 1em;
            height: 3.5em;
            border-radius: 3px;
            border: none;
          }
        }
      }
    }
    .d-container{
      height: 100vh;
      width: 100wv;
      background-color: #035E87;
      padding: 0.5em;
      .d-container-body{
        border-radius: 5px;
        height: 100%;
        background-color: white;
        padding: 0.6em;
        .d-cont-head {
          .d-title{
            display: flex;
            align-items: center;
            svg{
              height: 1.5em;
              path{
                stroke: #09709E;
              }
            }
            h3{
              color: #09709E;
              font-weight: 500;
              font-size: 21px;
            }
          }
        }
        .d-cont-body{
          display: flex;
          justify-content: space-between;
          padding: 0.8em;
          margin-top: 2em;
          height: 90.6%;
          .list-dept {
            width: 63%;
            height: 100%;
            .d-title-cont {
              margin-top: 1em;
              h3 {
                font-weight: 520;
                font-size: 20px;
              }
            }
            .d-list-dept{
              display: grid;
              grid-template-columns: repeat(3,1fr);
              gap: 1em;
              margin-top: 1em;
              .d-dept{
                display: flex;
                align-items: center;
                cursor: pointer;
                padding: 0.6em;
                box-shadow: 0px 0px 1px #cecece;
                border-left: 10px solid #09709E;
                background-color: #F5F5F5;
                border-radius: 3px;
                h3{
                  font-weight: 500;
                  font-size: 15px;
                }
              }
            }
          }
          .list-alea {
            position: absolute;
            top: 0.5em;
            right: 0.5em;
            width: 35%;
            padding: 1em;
            height: 97.4%;
            background-color: #F5F5F5;
            border-end-end-radius: 3px;
            border-top-right-radius: 3px;
            .d-title-cont {
              margin-top: 2em;
              h3 {
                font-size: 25px;
              }
            }
            .d-list-agent-option{
              margin-top: 2em;
              .d-option-dpt{
                display: flex;
                gap: 0.8em;
                align-items: center;
                height: 2em;
                margin-bottom: 1em;
                .d-opt {
                  cursor: pointer;
                  height: 100%;
                  padding: 0.8em;
                  background-color: white;
                  border-radius: 3px;
                  width: 10em;
                  display: flex;
                  align-items: center;
                  gap: 0.8em;
                  transition: all 0.3s ease-in-out;
                  span{
                    font-size: 11px;
                    font-weight: 500;
                  }
                  &:hover{
                    background-color: #8cc2de;
                  }
                }
              }
              .d-list-agent{
                height: 26em;
                overflow-y: scroll;
                .d-agent{
                  width: 90%;
                  position: relative;
                  cursor: pointer;
                  background-color: #ffffff;
                  box-shadow: 0px 0px 5px #f6f6f6;
                  padding: 0.6em;
                  border-radius: 5px;
                  display: flex;
                  align-items: center;
                  margin-bottom: 0.8em;
                  .d-round{
                    width: 2em;
                    height: 2em;
                    border-radius: 50%;
                    background-color: black;
                    margin-right: 1em;
                  }
                  .agent-info{
                    h3 {
                      font-weight: 500;
                      font-size: 17px;
                    }
                    .d-span{
                      display: flex;
                      gap: 0.8em;
                      align-items: center;
                      p{
                        height: 1.8em;
                        padding: 0.3em;
                        text-align: center;
                        font-size: 9px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background-color: #ffbaba;
                        border-radius: 5px;
                        span{
                          margin-top: 0.2em;
                          display: block;
                          font-weight: 600;
                          text-align: center;
                        }
                      }
                    }
                  }
                  .d-menu{
                    display: none;
                    z-index: -1;
                    position: absolute;
                    padding: 0.8em;
                    background-color: white;
                    top: 110%;
                    width: 100%;
                    left: 0;
                    .d-option {
                      padding: 0.1em;
                      margin-bottom: 0.2em;
                      padding-left: 0.5em;
                      span{
                        font-size: 15px;
                      }
                      &:hover{
                        background-color: #e0e0e0;
                      }
                    }
                  }
                  .d-menu-visible{
                    z-index: 2;
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
      .d-shift-cont{
        position: fixed;
        top: 30%;
        right: -21em;
        z-index: 4;
        border-radius: 3px;
        transition: all 0.3s ease-in-out;
        display: flex;
        align-items: center;
        .close{
          padding: 0.5em;
          background-color: #ff4d4d;
          margin-right: 0.8em;
          cursor: pointer;
          border-radius: 50%;
        }
        .d-shift-body{
          padding: 0.5em;
          background-color: rgba(180, 180, 180, 0.36);
          backdrop-filter: blur(20px);
          margin-top: 0.2em;
          display: flex;
          h3{
            font-weight: normal;
            font-size: 15px;
            margin-left: 0.8em;
            display: flex;align-items: center;
            span{
              text-align: center;
              font-weight: 600;
              padding: 0.2em;
              border-radius: 5px;
              color: #570000;
              background-color: #ff7878;
              display: block;
              width: 3em;
            }
            .oui{
              background-color: #acccff;
              color: #002a2f;
            }
          }
        }
      }
      .d-shift-cont-visible{
        right: 1%;
      }
      .d-agent-add{
        position: absolute;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: -1;
        visibility: hidden;
        background-color: white;
        padding: 0.8em;
        .d-agent-head{
          display: flex;
          justify-content: space-between;
          align-items: center;
          .close{
            padding: 0.5em;
            background-color: #ff5858;
            border-radius: 50%;
            cursor: pointer;
          }
        }
        .d-agent-body{
          margin-top: 1em;
          input,select{
            padding: 0.5em;
            width: 100%;
            margin-top: 0.9em;
            border-radius: 3px;
            border: 1px solid #7e7e7e;
            transition: all .3s ease-in-out;
            outline: none;
            &:hover{
              border-color: #035E87;
            }
          }
          input[type=submit]{
            border: none;
            background-color: #035E87;
            color: white;
            font-weight: 600;
            cursor: pointer;
          }
        };
        top:45%;
        transition: all 0.3s ease-in-out;
      }
      .d-modal-rapport{
        width: 70%;
        position: absolute;
        top: 45%;
        visibility: hidden;
        z-index: -1;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 0.8em;
        background-color: #ffffff;
        border-radius: 3px;
        transition: all 0.3s ease-in-out;
        .d-head{
          display: flex;
          justify-content: space-between;align-items: center;
          .close{
            cursor: pointer;
            padding: 0.5em;
            background-color: #ff5656;
            border-radius: 50%;
          }
        }
        .d-month{
          margin-top: 0.8em;
          select{
            padding: 0.5em;
            background-color: #e7e7e7;
            outline: none;
          }
        }
        .d-body{
          .d-head-table{
            display: grid;
            padding: 0.5em;
            grid-template-columns: repeat(4,1fr);
            justify-content: space-between;
            margin-top: 0.8em;
            gap: 1em;
            .th{
              span{
                font-weight: 600;
              }
            }
          }
          .d-body-table{
            display: grid;
            padding: 0.5em;
            background-color: #ececec;
            border-radius: 3px;
            grid-template-columns: repeat(4,1fr);
            gap: 1em;
            margin-bottom: 0.5em;
          }
        }
      }
      .d-modal-rapport-agent{
        width: 70%;
        position: absolute;
        top: 45%;
        visibility: hidden;
        z-index: -1;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 0.8em;
        background-color: #ffffff;
        border-radius: 3px;
        transition: all 0.3s ease-in-out;
        .d-head{
          display: flex;
          justify-content: space-between;align-items: center;
          .close{
            cursor: pointer;
            padding: 0.5em;
            background-color: #ff5656;
            border-radius: 50%;
          }
        }
        .d-month{
          margin-top: 0.8em;
          select{
            padding: 0.5em;
            background-color: #e7e7e7;
            outline: none;
          }
        }
        .d-body{
          .d-head-table{
            display: grid;
            padding: 0.5em;
            grid-template-columns: repeat(4,1fr);
            justify-content: space-between;
            margin-top: 0.8em;
            gap: 1em;
            .th{
              span{
                font-weight: 600;
              }
            }
          }
          .d-body-table{
            display: grid;
            padding: 0.5em;
            background-color: #ececec;
            border-radius: 3px;
            grid-template-columns: repeat(4,1fr);
            gap: 1em;
            margin-bottom: 0.5em;
          }
        }
      }
      .d-modal-agent-salaire{
        width: 40%;
        position: absolute;
        top: 45%;
        visibility: hidden;
        z-index: -1;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 0.8em;
        background-color: #ffffff;
        border-radius: 3px;
        transition: all 0.3s ease-in-out;
        .d-head{
          display: flex;
          justify-content: space-between;align-items: center;
          .close{
            cursor: pointer;
            padding: 0.5em;
            background-color: #ff5656;
            border-radius: 50%;
          }
        }
        .d-month{
          margin-top: 0.8em;
          select{
            padding: 0.5em;
            background-color: #e7e7e7;
            outline: none;
          }
        }
        .d-body{
          .d-head-table{
            display: grid;
            padding: 0.5em;
            grid-template-columns: repeat(2,1fr);
            justify-content: space-between;
            margin-top: 0.8em;
            gap: 1em;
            .th{
              span{
                font-weight: 600;
              }
            }
          }
          .d-body-table{
            display: grid;
            padding: 0.5em;
            background-color: #ececec;
            border-radius: 3px;
            grid-template-columns: repeat(2,1fr);
            gap: 1em;
            margin-bottom: 0.5em;
          }
        }
      }
    }

  }
  body.d-modal-agent{
    &:after{
      content: "";
      height: 100vh;
      width: 100vw;
      background-color: rgba(0, 0, 0, 0.82);
      position: absolute;
      top: 0;
    }
    .d-container{
      .d-agent-add{
        visibility: visible;
        z-index: 3;
        top: 50%;
      }
      .d-menu{
        display: none!important;
      }
    }
  }
  body.d-modal-rapport-visible{
    &:after{
      content: "";
      height: 100vh;
      width: 100vw;
      background-color: rgba(0, 0, 0, 0.82);
      position: absolute;
      top: 0;
    }
    .d-container{
      .d-menu{
        display: none!important;
      }
    }
    .d-modal-rapport{
      top: 50%;
      visibility: visible;
      z-index: 3;
      transition: all 0.3s ease-in-out;
    }
  }
  body.d-modal-rapport-agent-visible{
    &:after{
      content: "";
      height: 100vh;
      width: 100vw;
      background-color: rgba(0, 0, 0, 0.82);
      position: absolute;
      top: 0;
    }
    .d-container{
      .d-menu{
        display: none!important;
      }
    }
    .d-modal-rapport-agent{
      top: 50%;
      visibility: visible;
      z-index: 3;
      transition: all 0.3s ease-in-out;
    }
  }
  body.d-modal-agent-salaire-visible {
    &:after{
      content: "";
      height: 100vh;
      width: 100vw;
      background-color: rgba(0, 0, 0, 0.82);
      position: absolute;
      top: 0;
    }
    .d-container{
      .d-menu{
        display: none!important;
      }
    }
    .d-modal-agent-salaire{
      top: 50%;
      visibility: visible;
      z-index: 3;
      transition: all 0.3s ease-in-out;
    }
  }
}